* {
  box-sizing: border-box;
}
body {
  background-color: rgb(224, 224, 224);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  min-width: 800px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.histogram {
  min-width: 30em;
  background-color: white;
}
.hist-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hist-heading h2 {
  font-size: 1.4em;
}
.hist-img {
  min-width: 5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
  padding: 0.3em 1em;
  background-color: rgb(224, 224, 224);
  border-radius: 0 25px 25px 0;
}
.hist-img:last-of-type {
  justify-content: flex-start;
  border-radius: 25px 0 0 25px;
}
.hist-img img {
  max-width: 25px;
}

.hist-main {
  display: flex;
  justify-content: center;
  gap: 0.7em;
}
.hist-main-content {
  background: repeating-linear-gradient(
    90deg,
    white,
    white calc(100% / 12.5),
    rgba(128, 128, 128, 0.136) calc(100% / 13 + 5px)
  );
  min-width: 385px;
  max-height: 183px;
  border-left: 1px solid black;
}
.border-bottom {
  width: 99%;
  float: left;
  height: 1px;
  margin: 0;
  background-color: black;
}
.hist-main-status > p,
.hist-main-element {
  margin: 0 0 0.5em;
  padding: 0.1em 0;
}
.hist-main-status {
  font-weight: bold;
}
.conceded {
  background-color: red;
  color: white;
}
.scored {
  background-color: black;
  color: white;
}
.conceded-all {
  width: 47.91%;
}
.conceded-home {
  width: 64.1%;
}
.conceded-away {
  width: 35.09%;
}
.scored-all {
  width: 47.91%;
}
.scored-home {
  width: 64.1%;
}
.scored-away {
  width: 16.09%;
}
.hist-main-time-marks {
  position: relative;
  top: 0.2em;
  left: -0.5em;
}
.hist-main-time-marks > span {
  margin-right: 0.2em;
}
.small-font {
  font-size: 0.8em;
}
